body {    
    padding: 0.5%;
    background-color: black;
}

/*------------------------HEADER-------------------------*/

.header {        
    height: 125px;
    background-color: darkslateblue;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: purple 2px 2px 5px, purple -2px 2px 5px, purple 2px -2px 5px, purple -2px -2px 5px,
                purple 4px 4px 20px, purple -4px 4px 20px, purple 4px -4px 20px, purple -4px -4px 20px,     
                purple 7px 7px 30px, purple -7px 7px 30px, purple 7px -7px 30px, purple -7px -7px 30px;
}

/*-----------------------END HEADER-----------------------*/

/*-------------------------ASIDE--------------------------*/

.aside {    
    background-color: lightblue;    
    margin-top: 1.5%;    
    margin-bottom: 1.5%;    
    width: 19%;
    height: 450px;
    border-radius: 15px;
    box-shadow: purple 2px 2px 5px, purple -2px 2px 5px, purple 2px -2px 5px, purple -2px -2px 5px,
                purple 4px 4px 20px, purple -4px 4px 20px, purple 4px -4px 20px, purple -4px -4px 20px, 
                purple 7px 7px 30px, purple -7px 7px 30px, purple 7px -7px 30px, purple -7px -7px 30px,
                inset 0px 0px 0px 2px black;    
    overflow-y:auto;
    overflow-x:hidden;
    float: left;
}

/*-----------------------END ASIDE------------------------*/

/*------------------------SECTION-------------------------*/

.section {
    background-color: beige;        
    margin-top: 1.5%;
    margin-left: 1.5%;
    width: 79.5%;
    height: 450px;      
    border-radius: 15px;
    box-shadow: purple 2px 2px 5px, purple -2px 2px 5px, purple 2px -2px 5px, purple -2px -2px 5px,
                purple 4px 4px 20px, purple -4px 4px 20px, purple 4px -4px 20px, purple -4px -4px 20px, 
                purple 7px 7px 30px, purple -7px 7px 30px, purple 7px -7px 30px, purple -7px -7px 30px,
                inset 0px 0px 0px 2px black;
    float: left;
}
/*-----------------------END SECTION-----------------------*/

/*-------------------------FOOTER--------------------------*/

.footer {
    background-color: darkslateblue;        
    height: 150px;
    border: 1px solid black;        
    border-radius: 15px;
    box-shadow: purple 2px 2px 5px, purple -2px 2px 5px, purple 2px -2px 5px, purple -2px -2px 5px,
                purple 4px 4px 20px, purple -4px 4px 20px, purple 4px -4px 20px, purple -4px -4px 20px, 
                purple 7px 7px 30px, purple -7px 7px 30px, purple 7px -7px 30px, purple -7px -7px 30px;
    clear: left;
}

/*-----------------------END FOOTER------------------------*/

.title_of_page {
    text-align: center;
    color: gold;
    font-size: 38px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 3px black, -2px 2px 3px black, 2px -2px 3px black;
}

.title-aside {
    text-align: center;
    font-size: 30px;
    color: darkblue;
    text-shadow: 1px 1px 3px #9d0707, -1px 1px 3px #9d0707, 1px -1px 3px #9d0707;
}

.text-p {
    color: darkblue;
    text-align: center;
    font-weight: bold;
    font-size: 17px;    
    padding:0 10px 0 10px;
}

.text-aside {
    text-align: center;
    word-spacing: 10px;
    font-size: 25px;
    font-weight: bold;
}

/*-------------------Calculator--------------------*/

.calc {
    margin: 5px 0 0 15%;
}

            /*-----------BUTTONS-------------*/
button {
    background-color: gold;
    color: forestgreen;
    width: 50px;
    height: 50px;
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid #927e14;
    box-shadow: black 5px 6px 2px;
    margin: 5px 0 0 5px;    
    outline: none;
    text-decoration-line: none;
    text-decoration: none;        
    padding: 0px;
    transition: all ease 0.3s;
}

    button:hover {
        background-color: burlywood;
        color: blue;
        box-shadow: black 3px 4px 2px;
         outline: none;
        text-decoration-line: none;
        text-decoration: none;
    }

    button:active {
        background-color: red;
        color: black;
        box-shadow: 1px 1px 2px black;
        outline: none;
        text-decoration-line: none;
        text-decoration: none;
    }

    button:active, button:focus {
    outline: none !important;

    }
    button::-moz-focus-inner {
        border: 0 !important;
    }
            /*------------SCREEN------------*/

.screen {
    float: left;
}

.screen textarea{
    background-color: azure;
    color: blue;
    width: 221px;
    height: 55px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;        
    border: 2px solid #927e14;
    box-shadow: 5px 5px 2px black;
    margin: 5px 5px 0 5px;
    text-align: right;
}

            /*-----------INFO SCREEN-----------*/

.info-screen {
    background-color: gold;
    font-size: 22px;    
    width: 223px;
    height: 120px;
    margin: 5px 0 0 0px;    
    float: left;    
    border: 2px solid #927e14;
    box-shadow: black 5px 6px 2px;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll, no-display;
}

    .info-screen div {
        margin-top: 1px;
        margin-left: 2px;
        color: blueviolet;
    }
    .info-screen span#Bin {
        margin-left: 5px;
    }
    .info-screen span#Oct {
        margin-left: 5px;
    }
    .info-screen span#M {
        font-size: 16px;
        color: blue;
    }

            /*-----------OTHER------------*/

.row-btns {
    float: left;
}

.extended-mode {
    float: left;
    margin-left: 4px;    
}
.extended-mode button {
    font-size: 26px;
}

.new-row-btns {
    clear: left;    
}

#C, #DEL {
    width: 109px;
}

.btn {    
    width: 463px;
}
/*-----------------END Calculator------------------*/