body {
    padding: 0.5%;
    background-color: black;
    overflow-x: hidden;
    white-space: nowrap;
}
/*change mark*/

/*------------------------HEADER-------------------------*/

.header {        
    height: 125px;    
    background-color: darkslateblue;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: purple 2px 2px 5px, purple -2px 2px 5px, purple 2px -2px 5px, purple -2px -2px 5px,
                purple 4px 4px 20px, purple -4px 4px 20px, purple 4px -4px 20px, purple -4px -4px 20px,     
                purple 7px 7px 30px, purple -7px 7px 30px, purple 7px -7px 30px, purple -7px -7px 30px;
}

/*-----------------------END HEADER-----------------------*/

/*-------------------------ASIDE--------------------------*/

.aside {    
    background-color: lightblue;    
    margin-top: 1.5%;    
    margin-bottom: 1.5%;    
    width: 19%;
    height: 515px;
    border-radius: 15px;
    box-shadow: purple 2px 2px 5px, purple -2px 2px 5px, purple 2px -2px 5px, purple -2px -2px 5px,
                purple 4px 4px 20px, purple -4px 4px 20px, purple 4px -4px 20px, purple -4px -4px 20px, 
                purple 7px 7px 30px, purple -7px 7px 30px, purple 7px -7px 30px, purple -7px -7px 30px,
                inset 0px 0px 0px 2px black;    
    overflow-y:auto;
    overflow-x:hidden;
    float: left;
}

/*-----------------------END ASIDE------------------------*/

/*------------------------SECTION-------------------------*/

.section {
    background-color: beige;        
    margin-top: 1.5%;
    margin-left: 1.5%;
    width: 79.5%;
    height: 515px;      
    border-radius: 15px;
    box-shadow: purple 2px 2px 5px, purple -2px 2px 5px, purple 2px -2px 5px, purple -2px -2px 5px,
                purple 4px 4px 20px, purple -4px 4px 20px, purple 4px -4px 20px, purple -4px -4px 20px, 
                purple 7px 7px 30px, purple -7px 7px 30px, purple 7px -7px 30px, purple -7px -7px 30px,
                inset 0px 0px 0px 2px black;
    float: left;
}
/*-----------------------END SECTION-----------------------*/

/*-------------------------FOOTER--------------------------*/

.footer {
    background-color: darkslateblue;        
    height: 150px;
    border: 1px solid black;       
    padding-top: 0px; 
    border-radius: 15px;
    box-shadow: purple 2px 2px 5px, purple -2px 2px 5px, purple 2px -2px 5px, purple -2px -2px 5px,
                purple 4px 4px 20px, purple -4px 4px 20px, purple 4px -4px 20px, purple -4px -4px 20px, 
                purple 7px 7px 30px, purple -7px 7px 30px, purple 7px -7px 30px, purple -7px -7px 30px;
    clear: left;
}

/*-----------------------END FOOTER------------------------*/

.title_of_page {
    text-align: center;
    color: gold;
    font-size: 38px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 3px black, -2px 2px 3px black, 2px -2px 3px black;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.title-aside {
    text-align: center;
    font-size: 30px;
    color: darkblue;
    text-shadow: 1px 1px 3px #9d0707, -1px 1px 3px #9d0707, 1px -1px 3px #9d0707;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.text-p {
    color: darkblue;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    padding: 0 10px 0 10px;
}

.text-aside {
    text-align: center;
    word-spacing: 10px;
    font-size: 25px;
    font-weight: bold;
}

/*-------------------Calculator--------------------*/

.calc {
    padding: 0px;
    margin: 0px;
}

            /*-----------BUTTONS-------------*/

button, #moveDiv {
    background-color: gold;
    color: darkgreen;
    width: 50px;
    height: 50px;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid #927e14;
    box-shadow: black 5px 6px 2px;
    outline: none;
    text-decoration-line: none;
    text-decoration: none;
    padding: 0px;
    transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    margin-left: 5px;
    margin-bottom: 5px;
    /* IE10+ */
    background-image: -ms-linear-gradient(top, #FFD700 0%, #D9CF73 50%, #8F7800 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #FFD700 0%, #D9CF73 50%, #8F7800 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #FFD700 0%, #D9CF73 50%, #8F7800 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFD700), color-stop(50, #D9CF73), color-stop(100, #8F7800));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #FFD700 0%, #D9CF73 50%, #8F7800 100%);
    /* W3C Markup */
    background-image: linear-gradient(to bottom, #FFD700 0%, #D9CF73 50%, #8F7800 100%);
}

    button:hover {
        background-image:none;
        background-color: burlywood;
        color: blue;
        box-shadow: black 3px 4px 2px;
        outline: none;
        text-decoration-line: none;
        text-decoration: none;
    }
    button:active {
        background-color: red;
        color: black;
        box-shadow: 1px 1px 2px black;
        outline: none;
        text-decoration-line: none;
        text-decoration: none;
    }
    button:active, button:focus {
        outline: none !important;
    }
    button::-moz-focus-inner {
        border: 0 !important;
    }
            /*------------SCREEN------------*/

.screen {    
    float: left;
}

.screen textarea {
    background-color: azure;
    color: blue;
    width: 223px;
    height: 55px;
    max-width: 458px;
    min-width: 223px;
    min-height: 55px;
    max-height: 55px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid #927e14;
    box-shadow: 5px 8px 2px black;
    text-align: right;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll, no-display;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
    margin-left: 5px;
    margin-right: -6px;
    margin-bottom: 4px;        
    /* IE10+ */
    background-image: -ms-linear-gradient(top, #F0FFFF 0%, #E9F7F7 50%, #BDE9F0 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #F0FFFF 0%, #E9F7F7 50%, #BDE9F0 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #F0FFFF 0%, #E9F7F7 50%, #BDE9F0 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F0FFFF), color-stop(50, #E9F7F7), color-stop(100, #BDE9F0));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #F0FFFF 0%, #E9F7F7 50%, #BDE9F0 100%);
    /* W3C Markup */
    background-image: linear-gradient(to bottom, #F0FFFF 0%, #E9F7F7 50%, #BDE9F0 100%);
}

            /*-----------INFO SCREEN-----------*/

.info-screen {
    background-color: gold;
    font-size: 22px;
    width: 222px;
    height: 122px;
    border: 2px solid #927e14;
    box-shadow: black 5px 6px 2px;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll, no-display;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
    margin-left: 15px;
    margin-bottom: 5px;
    /* IE10+ */
    background-image: -ms-linear-gradient(top, #FFD700 0%, #DBB912 50%, #E3C532 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #FFD700 0%, #DBB912 50%, #E3C532 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #FFD700 0%, #DBB912 50%, #E3C532 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFD700), color-stop(50, #DBB912), color-stop(100, #E3C532));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #FFD700 0%, #DBB912 50%, #E3C532 100%);
    /* W3C Markup */
    background-image: linear-gradient(to bottom, #FFD700 0%, #DBB912 50%, #E3C532 100%);
}

    .info-screen div {
        margin-top: 0;
        margin-left: 2px;
        color: blueviolet;
    }
    .info-screen span#Bin {
        margin-left: 5px;
    }
    .info-screen span#Oct {
        margin-left: 5px;
    }
    .info-screen span#M {
        font-size: 22px;
        color: blue;
    }

            /*-----------OTHER------------*/

.row-btns {
    float: left;
    margin-right: 4px;
}

.extended-mode {  
    display: block;
}

    .extended-mode button {
        font-size: 26px;
    }

.new-row-btns {
    clear: left;    
}

#C, #DEL {
    width: 109px;
}

#btn {    
    width: 345px;    
    float: left;    
    transition: width 0.4s, color 0.3s, background-color 0.3s, box-shadow 0.3s;
    text-shadow: 1px 1px 1px black;
}

#mod {
    font-size: 25px;
    display: block;
    float: left;    
    margin-left: 9px;
}

#perc {
    margin-left: 9px;
}

#moveCalc {
    position: absolute;    
}

#moveDiv {
    text-align: center;
    height: 25px;
    width: 458px;
    font-size: 25px;
    margin-top: 7px;
    text-shadow: 1px 1px 1px black;
}

.inblock {
    display: inline-block;
}

#hide {
    margin: 0px;
    padding: 0px;
    margin-left: -33px;    
    text-align: center;
    width: 25px;
    height: 25px;
    margin-bottom: 25px;
    color: crimson;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 1px 1px 2px black;
    text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black;
}

    #hide:hover {
        color: green;
        box-shadow: 2px 2px 2px black, 2px -2px 2px black, -2px 2px 2px black, -2px -2px 2px black;
    }

/*-----------------END Calculator------------------*/